.places-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:8px; 
    border-radius: 8px;   
    border: 1px solid 1px solid #E7E7E9;
    /* add box shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.places-list__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    
    font-size: 1.1rem;
    color: var(--main-font-color);
}

.places-list__item:hover {
    background-color: var(--ext-light-color);
    cursor: pointer;
}

.places-list__item a {
    text-decoration: none;
    color: var(--main-font-color);
}

.places-list__item a:hover {
    text-decoration: underline;
}

.places-list__item__image {
    width: 32%;
    height: 5%;
}

.places-list_img {
    width: 100%;
    height: 145px;
    padding: 2px;
    border-radius: 8px;
}

.places-list__item__info {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    /* flexbox spacebetween items*/
    justify-content: space-between;
    width: 80%;
}

.places-list__item__subinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 7px;
}


.places-list__item__info__title {
    padding-top: 7px;
    font-size: 1.2rem;
    color: var(--headings-font-color);
    font-weight: 600;
}

.places-list__item__info__detail {
    font-size: 0.75rem;
    color: var(--headings-font-color);
    font-weight: 400;
}

.places-list__item__info__perks{
    padding-top: 7px;
    font-size: 0.75rem;
    font-weight: 600;
    color: #394d44;
}

.places-list__item__info__perks span {
    margin-right: 2px;
}

.place-list__item__subinfo__rating {
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    align-items: flex-end;
}

.place-list__item__subinfo__price {
    font-size: 1.3rem;
    font-weight: 700;
    color: #303646;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.place-list__item__subinfo__price__detail {
    font-size: 0.8rem;
    font-weight: 400;
    color: #303646;
}

.place-list__item__subinfo__price__label {
    font-size: 0.8rem;
    font-weight: 300;
    color: #303646;
}