.container-menu {
    min-width:20%;
    background-color: #F7F7F7;
}

.menu-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    margin-top: 20px;
}

.list-item {
    padding: 8px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #505763;
    cursor: pointer;
}

.list-item span {
    margin-left: 15px;
    font-size: 15px;
}

.list-item-text {
    margin-top: 2px;
}
.link {
    text-decoration: none !important;
    color: #505763;
}

.dashboard-nav {
    border-bottom: 1px solid #E7E7E7;
    font-weight: 600;
}
