:root {
    --main-font-color: #71717A;
    --headings-font-color: #191C24;
    --secondry-font-color: #CFCFD3;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 100;
    border-radius: 10px;
}
