.error{
    padding: 9px 10px;
    display: block;
    font-size: 13px;
    background: #ffd4d4;
    color: #ba4141;
    border: 1.5px solid #faacac;
    width: 250px;
    margin-bottom: 12px;
    text-align: center;
}
  

